.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.home__banner{
    width: 100%;
    object-fit: cover;
    height: 300px;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,0));

}
.home__row{
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}