.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex:1;
    margin: 20px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    z-index: 1;
    background: #fff;
}

.product__info{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    height: 100Px;
    text-transform: capitalize;
    font-size: 15px;
}
.product__infoPrice{
    margin: 5px 0;
}
.product > img {
    max-height: 140px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product >button {
    width: 200px;
    background: #f6cb5d;
    color: #111;
    margin-top: 10px;
    border-radius: 4px;
}
.product >button:hover {
    background: #ecb939;
}
.product__buttonText{
    line-height: 10px;
    padding: 10px;
    text-align: center;
}
.product__addedButton{
    display: flex;
    align-items: center;
    background: #4cb543;
    color: white;
    justify-content: center;
    border: none;
    padding: 3px;
}
.product__added{
    border: 1px solid #4cb543;
    font-size: 15px;
    border-radius: 5px;
}
.product__notAdded{
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29 ;
}